* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 728px;
  height: 100vh;
  background-color: rgb(228, 219, 219);
  margin: 0 auto;
}
header {
  height: 165px;
  background-image: url(./assets/images/header.png);
  display: flex;
  align-items: center;
  gap: 112px;
}
.header-block {
  padding: 10px 28px;
  color: #3e356a;
  display: flex;
  flex-direction: column;
  gap: 11px;
  p {
    width: 280px;
    font-size: 24px;
    font-weight: 400;
  }
}
h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 37.5px;
}
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: #ffffff;
}
h2 {
  font-size: 22px;
  font-weight: 700;
  color: #3e356a;
}
.first-block {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
p {
  color: #3a3a3a;
  font-weight: 400;
}

span {
  color: #3e356a;
  font-weight: 500;
}
.second-block {
  display: flex;
  align-items: center;
  gap: 85px;
}

ul li::before {
  content: url(./assets/icons/listIcon.png);
}
li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
}
.third-block {
  display: flex;
  gap: 23px;
}

.footer-box {
  border: 1px dashed #3e356a;
  background: #e6e1eb;
  padding: 28px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-block {
  display: flex;
  align-items: center;
  gap: 19px;
}
